<%= form_for(@haasy) do |f| %>
  <% if @haasy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@haasy.errors.count, "error") %> prohibited this haasy from being saved:</h2>

      <ul>
      <% @haasy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :Looks %><br>
    <%= f.number_field :Looks %>
  </div>
  <div class="field">
    <%= f.label :Brains %><br>
    <%= f.number_field :Brains %>
  </div>
  <div class="field">
    <%= f.label :Diversity %><br>
    <%= f.number_field :Diversity %>
  </div>
  <div class="field">
    <%= f.label :Overall %><br>
    <%= f.text_field :Overall %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
