<p id="notice"><%= notice %></p>

<h1>Listing Haasies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Looks</th>
      <th>Brains</th>
      <th>Diversity</th>
      <th>Overall</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @haasies.each do |haasy| %>
      <tr>
        <td><%= haasy.name %></td>
        <td><%= haasy.surname %></td>
        <td><%= haasy.Looks %></td>
        <td><%= haasy.Brains %></td>
        <td><%= haasy.Diversity %></td>
        <td><%= haasy.Overall %></td>
        <td><%= link_to 'Show', haasy %></td>
        <td><%= link_to 'Edit', edit_haasy_path(haasy) %></td>
        <td><%= link_to 'Destroy', haasy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Haasy', new_haasy_path %>
