<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @haasy.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @haasy.surname %>
</p>

<p>
  <strong>Looks:</strong>
  <%= @haasy.Looks %>
</p>

<p>
  <strong>Brains:</strong>
  <%= @haasy.Brains %>
</p>

<p>
  <strong>Diversity:</strong>
  <%= @haasy.Diversity %>
</p>

<p>
  <strong>Overall:</strong>
  <%= @haasy.Overall %>
</p>

<%= link_to 'Edit', edit_haasy_path(@haasy) %> |
<%= link_to 'Back', haasies_path %>
